@*#if (!Routing)
@page "/"
#endif*@
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
@*#if (UseServer || UseWebAssembly)
    <link rel="stylesheet" href="css/blazor-ui.css" />
##endif*@
    <link rel="stylesheet" href="BlazorMin.styles.css" />
    <HeadOutlet />
</head>
<body>
@*#if (Routing)
    <Routes />
#elif (Layout)
    <LayoutView Layout="@typeof(MainLayout)">
        <Home />
    </LayoutView>
#else
    <Home />
#endif*@

@*#if (!Layout && (UseServer || UseWebAssembly))
    <div id="blazor-error-ui">
        An unhandled error has occurred.
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

##endif*@
    <script src="_framework/blazor.web.js"></script>
</body>
</html>
